html {
	height:100%;
}
body {
	margin: 0;
	font-size: 13px;
	overflow: hidden !important;
	color: #222;
	border: solid 1px #ddd;
}
a {
}
.octicon {
	width: 16px;
	text-align: center;
}
.message {
	font-size: 15px;
	font-weight: 500;
	margin: 10px;
	margin-top: 0;
}
#menu {
	float: left;
	width: 185px;
	height: 100%;
	overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #2D2D2D;
}
.header {
	background-color: white;
	background-color: #222;
	color: white;
    line-height: 39px;
    height: 39px;
    padding-left: 10px;
    border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	font-weight: 500;
	font-size: 14px;
	 
}
.header:first-child {
	border-top: 0;
}
.header:before {
	content: "";
	background-image: url('../image/ic_account_circle_white_48dp_2x.png');
	background-size: 20px;
	font-size: 20px;
	float:left;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	position: relative;
	top: 10px;
	left: 0px;
	margin-right: 7px;
}
#savedlist-header:before {
	background-image: url('../image/ic_video_library_white_48dp_2x.png');
}
#search-header:before {
	background-image: url('../image/ic_search_white_48dp_1x.png');
}
.header-child {
	overflow: auto;
	background-color: #2D2D2D;
	padding-bottom: 10px;
	border-bottom: solid 1px #3F3F3F;
	border-top: solid 1px #444;
}
.header-child:last-child {
	border-bottom: 0;
}
.mylist {
	/*background-color: white;*/
	background-color: #2D2D2D;
	padding-top: 	11px;
	padding-bottom: 10px;
	padding-left:	13px;
	cursor: pointer;
	color: white;
	font-size: 100%;
}
.mylist:before {
	font-family: 'Material Icons';
	content: "";
	background-image: url('../image/list.png');
	background-size: 16px;
	font-size: 19px;
	float:left;
	width: 16px;
	height: 16px;
	margin-right: 9px;
	position: relative;
	background-repeat: no-repeat;
}
.special:after {
	font-family: 'Material Icons';
	content: "";
	background-image: url('../image/ic_open_in_new_white_24dp_1x.png');
	background-size: 20px;
	font-size: 20px;
	float:right;
	width: 20px;
	height: 20px;
	position: relative;
	top: -3px;
	right: 7px;
	background-repeat: no-repeat;
}
.history:before {
	background-size: 20px;
	width: 20px;
	height: 20px;
	left: -2px;
	top: -1px;
	background-image: url('../image/ic_hourglass_empty_white_20dp_1x.png');
}
.later:before {
	background-image: url('../image/ic_watch_later_white_48dp_2x.png');
}
.mylist:hover {
	background-color: #575757;
}
.mylist:active {
	background-color: #666;
}
.mylist .id {
	display: none;
}
#mainview {
	background-color: #F1F1F1;
}
#mylistitem {

	overflow-x: auto;
	overflow-y: scroll; 
	height: 472px !important;
	background-color: white;
	border-left: solid 1px #ddd;
    text-shadow: 0 1px 0 #fff;
	padding-top: 10px;
	margin-left: 10px;

}
.logoback {
	background-image: url('../image/5.gif');
	background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
#mylistheader {
	background-color: #DB4437;
	font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Meiryo, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	border-left: 0;
	padding-left: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	position: relative;
	z-index: 999;
    padding-right: 15px;
}
#playall-button {
    float: right;
    color: white;
    position: relative;
    top: 7px;
    border: solid 1px transparent;
    background-color: transparent;
    padding: 1px 6px 1px 0;
}
#playall-button span {
    height: 20px;
    font-weight: 500;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Meiryo, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;

}
#playall-button:hover {
    color: #f6cfcb;
    cursor: pointer;
}
#playall-button:hover span:before {
    background-image: url('../image/ic_play_arrow_white_24dp_2x_hover.png');
}
#playall-button span::before {
    content:" ";
    display: inline-block;
    background-image: url('../image/ic_play_arrow_white_24dp_2x.png');
    background-size: 20px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    margin-right: 8px;

}
#mylisttitle {
	display: inline;
	/*font-weight: bold;*/
	font-size: 15px;
	margin-left: 13px;
	color: white;
	line-height: 41px;
    position: relative;
    
	 font-weight: 500;
}
#mylisttitle:before {
	content: "";
	background-image: url('../image/ic_playlist_play_white_48dp_2x_trimmed.png');
	background-size: 23px;
	font-size: 19px;
	float:left;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	position: relative;
	top: 12px;
	left: 10px;
	margin-right: 5px;
}
#search-container {
	background-color: #f5f5f5;
	    margin: 10px;
	    /*float: right;*/
	    transition: background .1s,flex .1s;

        border-radius: 2px;
}
#search-container:hover {
	background-color: white;
}
#search-container:focus {
	background-color: red;
}
#query {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color .2s ease;
    -webkit-transition: border-color .2s ease;
    transition: border-color .1s ease;
    /*box-shadow: inset 0 1px 2px #eee;*/
    transition: background .1s,flex .1s;
    border-radius: 2px;
    width: 139px;
    padding-left: 7px;
    background: transparent;
}
#query:hover {

}
#search-button {
    display: inline-block;
    height: 26px;
    border: solid 1px transparent;
    background-color: white;
    padding: 5px;
    outline: 0;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    float: right;
    /*border-color: red;*/
    border-left: 0;
    background-color: transparent;
	background-image: url('../image/ic_search_white_48dp_2.png');
	width: 26px;
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;

}
#search-button:hover {

}
input {
	border: 0;
}
input:focus {
  border: 0;
  outline: 0;
}
#play {
	display: inline;
	display: none;
	width: 200px;
	height: 25px;
    position: absolute;
    right: 20px;
    top: 9px;
	cursor: pointer;
	text-align: center;
	background: linear-gradient(#fcfcfc, #eee);
    border: solid 1px #ccc;
}
.video {
	background-color: white;
	width: 160px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-bottom: 15px;
}
.video:hover {
}
.video_length {
	position: absolute;
    bottom: 2px;
    right: 2px;
    text-shadow: 0 0 0;
    color: #fefefe;
    font-size: 12px;
    padding: 1px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    
}
.thumbnail {
	width:			 160px;
	height:			 90px;
	background-color: black;
	background-repeat: no-repeat;
	position: relative;
	background-size: contain;
	background-position: top center;
}
.thumbnail.classic {
	background-size: contain;
	background-position: top center;
}
.thumbnail.medium {
	background-size: contain;
	background-position: top center;
}
.thumbnail.letterbox {
	background-size: cover;
	background-position: center center;
}
.thumbnail:hover {
	/*-webkit-filter: brightness(0.85);*/
}
.info {
	position: relative;
	vertical-align: middle;
}
.title {
	font-weight: bold;
	margin: 5px;
	margin-bottom: 3px;
	margin-top: 5px;
	/*height: 31px;*/
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	/*color: #4078c0;*/

	line-height: 16px;
}
.title .playurl {
	color: #3F3F3F;
	text-decoration: none;
}
.title .playurl:hover {
	color: #167ac6;
}
.count {
	padding: 0 0 0 5px;
	margin: 0;
	color: #767676;
	font-size: 11px;

}
.count .viewcount:after {
	content: 'views';
	margin-left: 3px;
}
dl {
	float: left;
	margin: 0;
	padding: 0;
    
    white-space: nowrap;
	width: 49px;
}
dt {
	overflow: hidden;
	color: #999;
}
dd {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.octicon {
	width: 12px;
}
.upload_time {
	color: #888;
	font-size: 11px;
	margin-top: 3px;
}
.clear {
	clear: both;
}
.nowloading {
	background-image: url('/image/5.gif');
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

::-webkit-scrollbar {
    height: 16px;
    width: 10px;
    background-color: #F1F1F1;
    border-left: solid 1px #ddd;
    border-right: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
    padding-top: 100px
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,.5)
}

::-webkit-scrollbar-track:active,::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.1)
}
