html {
	height:100%;
}
body {
	margin: 0;
	/*font: 13px / 1.4 Helvetica, Meiryo, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
	/*font-family: Roboto,arial,sans-serif;*/
	font-size: 13px;
	
	overflow: hidden !important;
	color: #222;
	border: solid 1px #ddd;
}
/*@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons-Regular.eot); 
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.woff) format('woff'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}*/
a {

}
.octicon {
	width: 16px;
	text-align: center;
}
#login-container {
	font-size: 15px;
	font-weight: 500;
	margin: 10px;
	margin-top: 0;

}
#menu {
	float: left;
	width: 185px;
	height: 100%;
	overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #2D2D2D;
    
}
.header {
	background-color: white;
	/*background: linear-gradient( to bottom, #444, #444 50%, #2D2D2D 50%, #2D2D2D );*/
	/*background: linear-gradient(#3D3D3D, #2D2D2D);*/
	background-color: #222;
	color: white;
    line-height: 39px;
    height: 39px;
    /*font-weight: bold;*/
    
    padding-left: 10px;
	border-bottom: solid 1px #000;
	font-weight: 500;
	font-size: 14px;
	 
}
#savedlist-header {
	border-top: solid 1px #000;
	/*margin-top: 10px;*/
}
.header:before {
	content: "";
	background-image: url('../image/ic_account_circle_white_48dp_2x.png');
	background-size: 20px;
	font-size: 20px;
	float:left;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	position: relative;
	top: 10px;
	left: 0px;
	margin-right: 7px;
}
#savedlist-header:before {
	background-image: url('../image/ic_video_library_white_48dp_2x.png');
}
#history-header:before {
	background-image: url('../image/ic_history_white_48dp_2x.png');
}
#mylistgroup {
	overflow: auto;
	background-color: #2D2D2D;
	padding-bottom: 10px;
	border-bottom: solid 1px #3F3F3F;
	border-top: solid 1px #444;
}
#mylistgroup2 {
	border-top: solid 1px #444;
}
.mylist {
	/*background-color: white;*/
	background-color: #2D2D2D;
	padding-top: 	11px;
	padding-bottom: 10px;
	padding-left:	13px;
	cursor: pointer;
	/*border-bottom: solid 1px #ececec;*/
	/*color: #222;*/
	color: white;
	font-size: 100%;
}
.mylist:before {
	font-family: 'Material Icons';
	content: "";
	background-image: url('../image/list.png');
	/*-webkit-filter: invert(90%);*/
	background-size: 16px;
	font-size: 19px;
	float:left;
	width: 16px;
	height: 16px;
	margin-right: 9px;
	position: relative;
	background-repeat: no-repeat;
}
.special:after {
	font-family: 'Material Icons';
	content: "";
	background-image: url('../image/ic_open_in_new_white_24dp_1x.png');
	/*-webkit-filter: invert(90%);*/
	background-size: 20px;
	font-size: 20px;
	float:right;
	width: 20px;
	height: 20px;
	position: relative;
	top: -3px;
	right: 7px;
	background-repeat: no-repeat;
}
.history:before {
	background-size: 20px;
	width: 20px;
	height: 20px;
	left: -2px;
	top: -1px;
	background-image: url('../image/ic_hourglass_empty_white_20dp_1x.png');
}
.later:before {
	background-image: url('../image/ic_watch_later_white_48dp_2x.png');
}
.mylist:hover {
	/*background-color: #F7F7F7;*/
	background-color: #575757;
}
.mylist:active {
	background-color: #666;
}
.mylist .id {
	display: none;
}
#mainview {
	/*background-color: #F7F7F7;*/
	background-color: #F1F1F1;
}
#mylistitem {

	overflow-x: auto;
	overflow-y: scroll; 
	height: 472px !important;
	background-color: white;
	/*box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);*/
	border-left: solid 1px #ddd;
	/*border-right: solid 1px #ddd;*/
    text-shadow: 0 1px 0 #fff;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.20);*/
	padding-top: 10px;
	margin-left: 10px;
	/*margin-right: 10px;*/

}
.logoback {
	background-image: url('../image/5.gif');
	background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
#mylistheader {
	background-color: #DB4437;
	font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Meiryo, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	border-left: 0;
	padding-left: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	position: relative;
	z-index: 999;
}
#headericon{
}
#mylisttitle {
	display: inline;
	/*font-weight: bold;*/
	font-size: 15px;
	margin-left: 13px;
	color: white;
	line-height: 41px;
    position: relative;
    
	 font-weight: 500;
}
#mylisttitle:before {
	content: "";
	background-image: url('../image/ic_playlist_play_white_48dp_2x_trimmed.png');
	background-size: 23px;
	font-size: 19px;
	float:left;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	position: relative;
	top: 12px;
	left: 10px;
	margin-right: 5px;
}
#play {
	display: inline;
	display: none;
	width: 200px;
	height: 25px;
    position: absolute;
    right: 20px;
    top: 9px;
	cursor: pointer;
	text-align: center;
	background: linear-gradient(#fcfcfc, #eee);
    
    border: solid 1px #ccc;
}
#play:after {
	content: '連続再生する';
	color: #333;
	font-weight: bold;
	position: relative;
	top: 4px;
	text-shadow: 0 1px 0 white;
}
#play:hover {
	background-image: linear-gradient(#eee, #ddd);
}
#play:active {
	background-color: #dcdcdc;
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.20);
}
.video {
	background-color: white;
	/*border: solid 1px #ddd;*/
	width: 160px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	/*margin-bottom: 7px;*/
	margin-bottom: 15px;
    /*box-shadow: 0 0 2px rgba(0,0,0,0.1);*/
}
.video:hover {
}
.video_length {
	position: absolute;
    bottom: 2px;
    right: 2px;
    text-shadow: 0 0 0;
    color: #fefefe;
    font-size: 12px;
    padding: 1px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    
    
    
    font-weight: normal;
    
}
.thumbnail {
	width:			 160px;
	height:			 90px;
	background-color: black;
	background-repeat: no-repeat;
	position: relative;
	background-size: contain;
	background-position: top center;
}
.thumbnail.classic {
	background-size: contain;
	background-position: top center;
}
.thumbnail.medium {
	background-size: contain;
	background-position: top center;
}
.thumbnail.letterbox {
	background-size: cover;
	background-position: center center;
}
.thumbnail:hover {
	/*-webkit-filter: brightness(0.85);*/
}
.info {
	position: relative;
	vertical-align: middle;
}
.title {
	font-weight: bold;
	margin: 5px;
	margin-bottom: 3px;
	margin-top: 5px;
	/*height: 31px;*/
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	/*color: #4078c0;*/

	line-height: 16px;
}
.title .playurl {
	color: #3F3F3F;
	text-decoration: none;
}
.title .playurl:hover {
	color: #167ac6;
	/*text-decoration: underline;*/
}
.count {
	padding: 0 0 0 5px;
	margin: 0;
	color: #767676;
	font-size: 11px;

}
.count .viewcount:after {
	content: 'views';
	margin-left: 3px;
}
dl {
	float: left;
	margin: 0;
	padding: 0;
    
    white-space: nowrap;
	width: 49px;
}
dt {
	overflow: hidden;
	color: #999;
}
dd {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.octicon {
	width: 12px;
}
.upload_time {
	color: #888;
	font-size: 11px;
	margin-top: 3px;
}
.clear {
	clear: both;
}
.nowloading {
	background-image: url('/image/5.gif');
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

/*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
    padding-top: 100px;
}*/

::-webkit-scrollbar {
    height: 16px;
    width: 10px;
    background-color: #F1F1F1;
    border-left: solid 1px #ddd;
    border-right: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
    padding-top: 100px
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,.5)
}

::-webkit-scrollbar-track:active,::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.1)
}

/*::-webkit-scrollbar {
	width: 9px;
	background: #eee; 
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	border-left: 1px solid rgba(0,0,0,0.1);
}*/
